/*nombreVariable: asigno un valor*/

@import url(./hero.css);
@import url(./about-me.css);
@import url(./social-btns.css);
@import url(./social-btns.css);
@import url(./nav-bar.css);
@import url(./education-hero.css);

/*para declarar variables se usa el :root*/
:root{
    --fontBase:'Popins', sans-serif;
    --headline2: bold 59px/96px var(--fontBase);
    --headline5: bold 24px/39px var(--fontBase);
    --body1: bold 16px/25px var(--fontBase);
    --green :#42E2B8;
    --purple: #310A90;
    --white: #FFFFFF ;
    --gray: #858C94;
}

body{
    background-color: rgb(4, 29, 29);
    font-family: var(--fontBase);
    font-size: 16px;
    color:#310A90;
    margin: 15px;
}

/*@media screen and (max-width : 600px) {
    body {
        background-color: red;
    }
}*/

/*@media screen and (max-width:900px){
    body{
        background-color: green;
    }
}*/

@media screen and (min-width: 601px) and (max-width:900px){
    body {
        background-color: green;
    }
    
}